In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
date_today = pd.to_datetime('today').strftime('%Y-%m-%d')
periods = 15
date_range = pd.date_range(end = date_today, periods = periods)
date_range

DatetimeIndex(['2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28',
               '2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01',
               '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07', '2020-09-08'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame({'date': date_range})
df

         date
0  2020-08-25
1  2020-08-26
2  2020-08-27
3  2020-08-28
4  2020-08-29
5  2020-08-30
6  2020-08-31
7  2020-09-01
8  2020-09-02
9  2020-09-03
10 2020-09-04
11 2020-09-05
12 2020-09-06
13 2020-09-07
14 2020-09-08

In [4]:
df.dtypes

date    datetime64[ns]
dtype: object

In [6]:
df['date_pr'] = df['date'].dt.strftime('%-d %b')
df

         date date_pr
0  2020-08-25  25 Aug
1  2020-08-26  26 Aug
2  2020-08-27  27 Aug
3  2020-08-28  28 Aug
4  2020-08-29  29 Aug
5  2020-08-30  30 Aug
6  2020-08-31  31 Aug
7  2020-09-01   1 Sep
8  2020-09-02   2 Sep
9  2020-09-03   3 Sep
10 2020-09-04   4 Sep
11 2020-09-05   5 Sep
12 2020-09-06   6 Sep
13 2020-09-07   7 Sep
14 2020-09-08   8 Sep